{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier", "@typescript-eslint"],
  "rules": {
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "no-underscore-dangle": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/prop-types": 0,
    "semi": [2, "never"]
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  },
  "parser": "@typescript-eslint/parser"
}
