.reservation-list {
  max-width: 400px;
  width: 100%;
}

.reservation-list-item {
  cursor: pointer;
  width: 100%;
}

.reservation-detail {
  border: 1px solid black;
  padding: 20px 10px;
  max-width: 300px;
}

.reservation-detail-tdl {
  text-align: right;
}

.reservation-new {
  border: 1px solid black;
  max-width: 350px;
  padding: 20px 10px;
}

.reservation-new-input {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  margin: 10px 20px;
}

.reservation-new-r {
  margin-right: 5px;
  min-width: 100px;
  text-align: right;
}

.reservation-new-submit {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px 20px;
}
